/*
Colors used:
Text Color: #313438;
Highlight Color: #46FFBF;
*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #313438;
}

header {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

main {
  padding-top: 140px;
  padding-bottom: 30px;
}

footer {
  background-color: #313438;
  color: #fff;
  text-align: center;
  padding: 25px 0 10px;
  display: inline-block;
  width: 100%;
}

.full-background {
  background-color: #313438;
}

img {
  width: 100%;
  padding: 10px;
}

h1 {
  font-size: 1.4em;
  font-weight: 500;
}

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  color: #eb0053;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 20px;
}

h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  color: #eb0053;
  margin-top: 0;
}

p {
  max-width: 900px;
  margin: auto;
  line-height: 30px;
  padding-bottom: 10px;
}

.section.hero h1 {
  font-size: 2em;
  font-weight: 500;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

a {
  color: #313438;
  text-decoration: underline;
}

a:visited {
  opacity: 0.6;
}

a:hover,
a:focus,
a:active {
  color: #46ffbf;
}

.scroll a {
  color: #313438;
  text-decoration: none;
}

.button {
  display: inline-block;
  border: 1px solid #313438;
  background-color: #fff;
  color: #313438;
  padding: 5px 0 5px 20px;
  border-radius: 0;
  margin-bottom: 30px;
  text-decoration: none;
  transition: 0.3s all;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #313438;
  color: #fff;
  padding-right: 15px;
}

.button i {
  opacity: 0;
  transition: 0.3s ease;
  transform: translateX(-15px);
  padding-left: 5px;
  color: #fff;
}

.button:hover i {
  opacity: 1;
  transform: translateX(0);
}

.button-inactive {
  display: inline-block;
  border: 1px solid #313438;
  background-color: #fff;
  color: #313438;
  padding: 5px 20px;
  border-radius: 0;
  margin-bottom: 30px;
  text-decoration: none;
}

.button-inactive:hover {
  color: #313438;
  cursor: pointer;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0 0;
}

.section.hero,
.section.heading {
  text-align: center;
  padding: 40px 0 0;
  display: inline-block;
  width: 100%;
}

.section.heading {
  padding-bottom: 40px;
}

.projects {
  padding-top: 87px;
}

.logo {
  max-width: 90px;
  padding: 0;
}

.scroll {
  margin-top: 80px;
}

/* ==============================
Nav Bar
================================= */
.topnav {
  position: sticky;
  overflow: hidden;
  transition: 0.4s;
  top: 0;
  z-index: 99;
  padding: 20px 0;
}

nav a {
  font-size: 1.1em;
  text-decoration: none;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover,
.topnav a:focus,
.topnav a:active {
  opacity: 0.6;
  color: #313438;
  transition: 0.2s all;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: flex-end;
}

.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-social {
  float: right;
  padding: 25px 0 15px;
}

.bottomnav-social a {
  padding: 10px;
  font-size: 20px;
}

span {
  background-color: #46ffbf;
}

/* ==============================
Footer
================================= */
footer h2 {
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: underline;
}

.email {
  text-decoration: underline;
}

footer i {
  color: #46ffbf;
  font-size: 1.5em;
}

/* ==============================
About page
================================= */
.skills ul {
  padding: 0;
}

.skills li {
  list-style: none;
}

.about .row {
  display: flex;
  flex-direction: column-reverse;
}

.profile {
  display: block;
  border-radius: 50%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.pink {
  color: #eb0053;
}

/* ==============================
Project pages
================================= */
.project {
  padding-top: 20px;
}

.background {
  background-color: #4d586e;
  color: #fff;
  padding: 30px;
  margin: 30px 0;
}

.background .row {
  margin: 0;
}

.background h2 {
  color: #46ffbf;
  padding-top: 10px;
}

.background h3 {
  color: #46ffbf;
}

.background ul {
  margin-top: 0;
}

.background a {
  color: #fff;
}

.background a:hover {
  color: #46ffbf;
}

hr {
  /* separater line */
  max-width: 60%;
}

.whereto-logo {
  max-width: 150px;
}

.user-persona {
  max-width: 500px;
}

.width-700 {
  max-width: 700px;
}

/* Flex Adjustments */
.col-sm-6 {
  width: 50%;
  float: left;
  padding: 10px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  border-radius: 50%;
  background-color: #313438;
  color: #fff;
  cursor: pointer;
  padding: 15px;
}

.numbered-list h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eb0053;
  color: #eb0053;
  border-radius: 50%;
  text-align: center;
  padding: 15px;
  height: 45px;
  width: 45px;
  margin: auto;
  margin-bottom: -10px;
}

.background .numbered-list h3 {
  border: 2px solid #46ffbf;
  color: #46ffbf;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 2em;
  font-weight: 600;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #46ffbf;
}

.divider::before {
  margin-right: 0.5em;
}

.divider::after {
  margin-left: 0.5em;
}

.fa-quote-left {
  color: #eb0053;
  opacity: 70%;
  padding-right: 10px;
}

.fa-quote-right {
  color: #eb0053;
  opacity: 70%;
  padding-left: 5px;
}

h3 i {
  padding-right: 5px;
  color: #46ffbf;
}

.fa-mobile-alt,
.fa-check-square {
  color: #eb0053;
}

.fa-home,
.fa-address-card,
.fa-pencil-alt,
.fa-paper-plane {
  color: #46ffbf;
  font-size: 20px;
  padding: 20px 0;
}

.no-padding {
  padding-top: 0;
}

.quote-large {
  max-width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.quote-small {
  font-size: 14px;
  padding-top: 20px;
}

blockquote {
  position: relative;
  font-style: italic;
  margin-bottom: -5px;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: -50px;
  left: -60px;
  font-size: 7em;
  font-weight: bolder;
  z-index: -1;
  color: #46ffbf;
  opacity: 0.5;
  font-family: Andale mono;
}

blockquote::after {
  content: no-close-quote;
}

.cite {
  text-align: right;
  font-size: 14px;
  padding-bottom: 0;
}

/* ==============================
CSS Animation
================================= */
[data-scroll] {
  transition: all 1s;
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0);
}

[data-scroll="out"] {
  opacity: 0;
  transform: translateY(100px);
}

.slideup-fast {
  animation-duration: 1s;
  animation-name: slideup-fast;
}

.slideup {
  animation-duration: 1s;
  animation-name: slideup;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideup-slow {
  animation-duration: 1s;
  animation-name: slideup-slow;
}

@keyframes slideup-slow {
  from {
    opacity: 0;
    transform: translateY(400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ==============================
Small devices (< 640px)
================================= */
@media only screen and (max-width: 640px) {
  .topnav a {
    padding: 0;
  }

  .topnav-social {
    display: none;
  }

  .topnav-centered {
    float: right;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .topnav-centered a {
    padding: 15px 10px;
  }

  main {
    padding-top: 0;
  }

  .hero {
    padding-top: 40px;
  }

  .button {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #313438;
  }

  .button-inactive {
    width: 100%;
    text-align: center;
  }

  .container-max {
    padding: 0;
  }

  .divider {
    margin-top: 80px;
    margin-bottom: 0;
  }

  .background {
    padding: 20px;
  }

  .numbered-list {
    padding-bottom: 20px;
  }

  .background .numbered-list {
    padding-bottom: 0;
    padding-top: 20px;
  }

  .logo {
    padding: 10px;
  }

  .quote {
    max-width: 80%;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .bottomnav-social {
    display: none;
  }

  footer a {
    text-decoration: none;
  }

  header {
    position: fixed;
  }

  .reduce-width {
    max-width: 80%;
    margin: auto;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
    text-align: right;
  }

  .col-md-3 {
    width: 25%;
    text-align: right;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .skills h1 {
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .projects .row {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .about .row {
    flex-direction: row;
  }

  .center-m {
    text-align: center;
    padding: 10px;
  }

  .button .cv {
    margin-top: 20px;
    text-align: center;
  }

  .background-m {
    background-color: #4d586e;
    color: #fff;
    padding: 30px;
    margin: 30px 0;
  }

  .background-m h2 {
    color: #46ffbf;
    padding-top: 10px;
  }

  .background-m h3 {
    color: #46ffbf;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  nav li {
    padding: 0 30px;
  }

  body {
    background-color: #f0f0f0;
  }

  .wrapper {
    background: #fff;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }
}
