/*
Colors used:
Text Color: #313438;
Highlight Color: #46FFBF;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #313438;
}

header {
  padding: 20px 0;
  background-color: #ffffff;
  position: fixed;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 112px;
}

footer {
  background-color: #313438;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

img {
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  text-transform: uppercase;
}

.section.hero h1 {
  font-size: 2.5em;
}

a {
  color: #313438;
  text-decoration: none;
}

a:visited {
  opacity: 0.6;
}

a:hover, a:focus, a:active, {
  text-decoration: underline;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover, footer a:focus, footer a:active {
  text-decoration: underline;
}

.button {
  display: inline-block;
  border: 1px solid #313438;
  background-color: #313438;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.button:hover, .button:focus, .button:active {
  background-color: #ffffff;
  color: #313438;
  text-decoration: none;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.section.hero, .section.heading {
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 100px;
}

/* Flex Adjustments*/

header .row {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

header .row.first {
  align-items: center;
}

header .row.second {
  flex-direction: column-reverse;
}

nav a {
  font-size: 1.1em;
  margin-left: 20px;
}

nav a:hover, nav a:focus, nav a:active {
  opacity: 0.6;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: flex-end;
  /*flex-direction: column; if you like to have them in a column remove the slash and asterix*/
}

header .social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

header .social a {
  display: flex;
  border: 1px solid #313438;
  border-radius: 5em;
  background-color: #ffffff;
  width: 2em;
  height: 2em;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

.social a:hover, .social a:focus, .social a:active {
  background-color: #313438;
  color: #ffffff;
}
