/*
Colors used:
Text Color: #313438;
Highlight Color: #46FFBF;
*/
body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #313438;
}

footer {
  background-color: #313438;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  text-transform: uppercase;
}

.section.hero h1 {
  font-size: 3em;
}

.section.hero, .section.heading {
  text-align: center;
}

img {
  width: 100%;
}

a {
  color: #313438;
  text-decoration: none;
}

a:visited {
  opacity: 0.6;
}

a:hover, a:focus, a:active, {
  text-decoration: underline;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover, footer a:focus, footer a:active {
  text-decoration: underline;
}

.logo {
  max-width: 100px;
}

.button {
  display: inline-block;
  border: 1px solid #313438;
  background-color: #313438;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
}

.button:hover, .button:focus, .button:active {
  background-color: #ffffff;
  color: #313438;
  text-decoration: none;
}

.nav a {
  color: #313438;
  font-size: 1.5em;
}

.nav a:hover, .nav a:focus, .nav a:active {
  opacity: 0.6;
}

.social a {
  border: 1px solid #313438;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 12px;
}

.social a:hover, .social a:focus, .social a:active {
  background-color: #313438;
  color: #ffffff;
}
